/* For devices with narrow screens, phones, tablets, etc. */

/*
Temporarily disabled until we get the issues with ie8.js fixed, see
http://code.google.com/p/ie7-js/issues/detail?id=197 for more info.
*/

/*
#portal-column-one, 
#portal-column-two,
#portal-column-content { 
	clear: both; 
	width: 97.75%; 
	margin-left: -98.875%; 
}

#portal-top {
	font-size: 160%;
	text-align: center;
}
#portal-searchbox {
	float: none !important;
	text-align: center !important;
}
input {
	font-size: 100%;
}
#portal-globalnav li a {
	min-width: 4.9em !important;
}
*/