
/* @group CSS Reset */

/* Remove implicit browser styles to have a neutral starting point:
   - No elements should have implicit margin/padding
   - No underline by default on links (we add it explicitly in the body text)
   - When we want markers on lists, we will be explicit about it, and they render inline by default
   - Browsers are inconsistent about hX/pre/code, reset
   - Linked images should not have borders
   */

* { margin: 0; padding: 0; }
* :link,:visited { text-decoration:none }
* ul,ol { list-style:none; }
* li { display: inline; }
* h1,h2,h3,h4,h5,h6,pre,code { font-size:1em; }
* a img,:link img,:visited img { border:none }
a { outline: none; }
table { border-spacing: 0; }
img { vertical-align: text-bottom; }
iframe { border-width: 0; border-style:none; }


/* @end */

/* @group Basics */

body {
    font: 100% Arial, FreeSans, sans-serif;
    background: White;
    color: Black;
    /* width: 58em; margin: 1em auto; */
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica Neue", Arial, FreeSans, sans-serif;
    font-weight: bold;
    color: Black;
    line-height: 1.5em;
}
h1, h2 {
    letter-spacing: -0.05em;
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.75em;
}
h3 {
    font-size: 1.25em;
}
h4 {
    font-size: 1.25em;
}
h5 {
    font-size: 1em;
}
h6 {
    font-size: 0.8em;
}
h2, h3, h4, h5, h6 {
    color: #444;
}
h2 a, h3 a, h4 a {
    border-bottom: none !important;
}

p {
}

a:link, a:visited {
    color: #205c90;
}
a:focus img {
    outline: thin dotted;
}
dt {
    font-weight: bold;
}
input {
    font-family: "Lucida Grande", Arial, FreeSans;
}

q {
    quotes: "“" "”" "‘" "’";
}

/* @end */

/* @group Invisibles */

.hiddenStructure {
    display: block;
    background: transparent;
    background-image: none; /* safari bug */
    border: none;
    height: 0.1em;
    overflow: hidden;
    padding: 0;
    margin: -0.1em 0 0 -0.1em;
    width: 1px;
}
/* ensures hidden elements don't take up space */
/* .ie6 is set on <html> by Modernizr library */
.ie6 .hiddenStructure,
.ie7 .hiddenStructure {
    position: absolute;
}

#content .visualNoMarker {
    list-style:none;
    margin-left: 0;
}

.visualClear {
    clear: both;
}

/* @end */
