
/* @group Control panel */

#setup-link {
    font-size: 90%;
}

#content ul.configlets {
    margin: 1em 0;
    list-style-image: none;
    list-style: none;
}
#content ul.configlets li {
    margin-bottom: 1em;
    list-style: none;
    display: block;
}
#content ul.configlets li a {
    text-decoration: none;
    border: none;
}
#content ul.configlets li a:visited {
    color: #436976;
    background-color: transparent;
}
#content ul.configlets li a:active {
    color: #436976;
    background-color: transparent;
}
#content ul.configlets li label {
    font-weight: bold;
}
#content ul.configletDetails {
    margin: 0em 1em 1em 4em;
    list-style-image: none;
    list-style: none;
}
#content ul.configletDetails li {
    margin-bottom: 1em;
    display: inline;
}
#content ul.configletDetails li a {
    text-decoration: none;
}
#content ul.configletDetails li label {
    font-weight: bold;
}
#content ul.configletDetails li.configletDescription {
    display: block;
    color: #76797c;
    margin: 0;
}
.inlineDisplay {
    display:inline
}
table.controlpanel-listing {
    width:100%;
}
table.controlpanel-listing td, table.controlpanel-listing th {
    font-size:120%;
}
table.controlpanel-listing dl {
    margin-top:0;
}
table.controlpanel-listing dd {
    margin-left: 1em;
}
table.controlpanel-listing dl dt a .trigger{
    font-weight:normal;
}
table .controlpanel-listing td {
    vertical-align:top;
}
table.controlpanel-listing td.checker{
    text-align:center;
}
table.controlpanel-listing th.smallcolumn {
    width:1.5em;
}
.chooser-right {
    float:right;
    margin-right:0;
    margin-bottom:0;
}
.rule-element {
    background-color:#EEF3F5;
    margin:0.5em 0pt 0.5em;
    padding:0.3em 1em 0.3em 1em;
    width:auto;
}
.rule-element dl {
}
.rule-element dl dd {
    margin-left:1em;
}
.rule-updown, .rule-operations {
    float:right;
    padding-top:0.8em;
}

/* @end */

/* @group Dashboard */

#dashboard-actions ul,
#dashboard-actions ul li {
    list-style: none;
}
#dashboard-actions ul {
    margin-left: 0;
}

#dashboard {
    font-size: 125%;
    line-height: 1em;
}

#dashboard dd {
    margin: 0;
}


#dashboard dl.portlet a:link {
    border-bottom: none;
}

#dashboard-portlets1,
#dashboard-portlets2,
#dashboard-portlets3 {
    float:left;
    width:23%;
    padding:0.7em 1.3em 0 0;
}

#dashboard-portlets4 {
    float:left;
    width:23%;
    padding-top:0.7em;
}

#dashboard-portlets1 dl.portlet,
#dashboard-portlets2 dl.portlet,
#dashboard-portlets3 dl.portlet,
#dashboard-portlets4 dl.portlet {
    margin-bottom:1.5em;
}

/* @end */

