/* @group Forms */

fieldset,
.editionComment {
    line-height:1.5em;
    margin:1em 0;
    padding:0 1em 1em;
    width:auto;
}

/* Emulates the styling from the h1 tag */
#content .field input[type="text"][name$=".title"],
#archetypes-fieldname-title input {
    font-family: "Helvetica Neue", Arial, FreeSans, sans-serif;
    line-height: 125%;
    color: Black;
    letter-spacing: -0.05em;
    margin: inherit -0.05em;
    font-size: 2em; /* 26px equiv */
    font-weight: bold;
}

/* Emulates styling from the description's view */
#content .field textarea[name$=".description"],
#archetypes-fieldname-description textarea#description {
    font-family: Arial,FreeSans,sans-serif;
    color:#666666;
    font-size:1.25em;
    font-weight: bold;
}


div.formControls {
    margin: 1em;
}
input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {
    background-color: #ffffe0;
}

#content textarea {
    font: 100% Monaco, "Courier New", Courier, monospace;
    width: 100%;
}
#content select {
    vertical-align: top;
}
#content fieldset {
    border: 0.1em solid #329fd7;
    border-style: solid none none none;
}
#content legend {
    padding: 0.5em;
    font-size: 85%;
}
label {
    font-weight:bold;
}
label .fieldErrorBox {
    font-weight: normal;
}

#content label {
}

#content optgroup {
    font-style: normal;
    font-weight: bold;
    color: #999;
    padding-left: 0.25em;
}
#content option {
    color: black;
}
#content optgroup > option {
    padding: 0 0.25em 0 1em;
}
dl.enableFormTabbing dd {
    margin-left: 0;
    padding-top: 2em;
}
.searchSection {
    color: #76797c;
    margin-top: 0.25em;
}
.searchSection label:hover {
    color: Black;
}
.field {
    clear: both;
    margin-bottom: 1em;
}
.field input[type="text"] {
   width: 20em;
}
.field input[type="text"][size] {
   width: auto;
}
.field input[type="text"][name$=".title"],
input#title {
    width: 100%;
}
.field.error input[type="text"][name$=".title"],
.error input#title {
    width: 99%;
}

.fieldRequired {
    background: url(required.png) center left no-repeat;
    padding: 0 0 0 1em;
    color: White;
}
.fieldUploadFile {
    text-align: right;
    margin-right: 0.75em;
    display: none;
}
.fieldTextFormat {
    text-align: right;
    margin-right: 0.75em
}
.formHelp {
    color: #555;
    margin: 0 0 0.2em 0;
    display: block;
    font-weight: normal;
}
div.field.error {
    background-color: #fdc;
    border:  1px solid red;
    padding: 0.5em;
    margin:  1em 0;
}
.error .fieldRequired {
    color: #d00;
}
div.error.warning {
    background-color: transparent;
    border: none;
    margin-top: 0;
    padding: 0;
}

div.error.warning input {
    border: 2px solid red;
}

input.inputLabelActive {
    color: #76797c;
}
textarea#form\.description {
    height: 6em;
    width: 99%;
}
table.listing tbody tr.odd.selected td,
table.listing tbody tr.odd.dragging td,
tr.dragging,
tr.selected {
    background-color: #ffa;
}
table.listing tbody tr.odd.error td,
tr.error {
    background-color: #fdc;
}
.multi-widget-field {
    padding-left: 0.5em;
    border-left: 1.5em solid #DDD;
}

.multi-widget-checkbox {
    margin-left: -2em;
    margin-right: 0.5em;
    width: 1.5em;
    display: inline-block;
}

/* @group Login form */

body.template-logged_out #content,
body.template-login_form #content,
.pb-ajax #login-form {
    text-align: center;
}

#fieldset-openid-login input, #login-form input {
    font-size: 150%;
}


body.template-register #content input,
body.template-new-user #content input {
    font-size: 150%;
    width: inherit;

}

#fieldset-openid-login label, #login-form label {
    margin-right:0.5em;
    padding-top:0.2em;
    text-align:right;
    width: 10em;
    display: inline-block;
}

#fieldset-openid-login .formControls input, #login-form .formControls input {
margin-left: 0.25em;
}

/* @end */

/* @end */