
/* @group Invisibles */

.hiddenStructure {
    display: block;
    background: transparent;
    background-image: none; /* safari bug */
    border: none;
    height: 0.1em;
    overflow: hidden;
    padding: 0;
    margin: -0.1em 0 0 -0.1em;
    width: 1px;
}
/* ensures hidden elements don't take up space */
/* .ie6 is set on <html> by Modernizr library */
.ie6 .hiddenStructure,
.ie7 .hiddenStructure {
    position: absolute;
}

#content .visualNoMarker {
    list-style:none;
    margin-left: 0;
}

.visualClear {
    clear: both;
}

/* @end */
