
/* @group Navigation portlet */

dl.portlet ul.navTree li a {
    border: none;
    display: block;
    zoom: 1;
}

dl.portlet ul.navTree li a:hover {

}

dl.portletNavigationTree dd.portletItem {
    padding: 0;
}

dl.portlet ul.navTreeLevel0 > .navTreeItem {
    padding: 0.25em 1em;
    border-bottom: 0.1em dotted #ddd;
    line-height: 2em;
}

dl.portlet ul.navTreeLevel1 .navTreeItem {
    padding-left: 0.5em;
    line-height: 2em;
}

dl.portlet ul.navTree .navTreeCurrentItem {
    background-color: #ddd;
    border-left: 1em solid #ddd;
    margin-left: -1em;
    margin-right: -1em;
}

/* @end */
