.managedPortlet {
    margin: 0 0 1em;
}

.blockedPortlet .portletHeader {
    background: #eee !important;
}

.blockedPortlet .portletHeader a {
    color: #666;
}

.blockedPortlet .portletBlockedMessage {
    color: #eee;
    display: inline;
}
