/* @override http://localhost:8080/sunburst/portal_css/Sunburst%20Theme/public.css */

/* @group CSS Reset */

/* Remove implicit browser styles to have a neutral starting point:
   - No elements should have implicit margin/padding
   - No underline by default on links (we add it explicitly in the body text)
   - When we want markers on lists, we will be explicit about it, and they render inline by default
   - Browsers are inconsistent about hX/pre/code, reset
   - Linked images should not have borders
   */

* { margin: 0; padding: 0; }
* :link,:visited { text-decoration:none }
* ul,ol { list-style:none; }
* li { display: inline; }
* h1,h2,h3,h4,h5,h6,pre,code { font-size:1em; }
* a img,:link img,:visited img { border:none } 
a { outline: none; }
table { border-spacing: 0; }
img { vertical-align: text-bottom; }


/* @end */

/* @group Basics */

body { 
	font: 100% Arial, FreeSans, sans-serif;
	background: White;
	color: Black;
	/* width: 58em; margin: 1em auto; */
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Helvetica Neue", Arial, FreeSans, sans-serif; 
	font-weight: bold;
	line-height: 150%;
	color: Black;
}
h1, h2 {
	letter-spacing: -0.05em;
}
h1 {
	font-size: 2em; 
}
h2 {
	font-size: 1.75em; 
}
h3 {
	font-size: 1.5em; 
}
h4 {
	font-size: 1.25em; 
}
h5 {
	font-size: 1em; 
}
h6 {
	font-size: 0.8em; 
}

p {
}

a:link, a:visited {
	color: #205c90;
}

dt {
	font-weight: bold;
}
input {
	font-family: "Lucida Grande", Arial, FreeSans;
}

q {
    quotes: "“" "”" "‘" "’"
}

/* @end */

/* @group Accessibility elements, applied by JS */

body.largeText { font-size: 111%; }
body.smallText { font-size: 60%; }

/* @end */

/* @group Navigation/search */

#portal-header {
    position: relative;
    z-index: 2;
}

#portal-logo {
	display: inline-block;
	margin: 1em 0;
}

#portal-globalnav {
	clear: both;
	font-size: 80%;
	background: #ddd;
	margin-bottom: 1em;
}
#portal-globalnav li {
}
#portal-globalnav li a {
	display: inline-block;
	padding: 0.5em 2em 2em 0.5em;	
	background: #ddd;
	min-width: 6em;
	white-space: normal;
	/*TODO: Once we have removed the whitespace from the nav template, this can be put back*/
	/*border-bottom: 0.1em solid White;*/
	border-right: 0.1em solid white;
}

#portal-globalnav .selected a,
#portal-globalnav a:hover {
	background: #205c90;
	color: White;
}


#portal-personaltools {
	float: right;
	background: #e3e3e3;
	position: absolute;
	top: 0;
	right: 0;
	padding: 0.25em 0.5em;
	font-size: 80%;
	border-bottom-right-radius: 0.5em;
	border-bottom-left-radius: 0.5em;
	-webkit-border-bottom-right-radius: 0.5em;
	-webkit-border-bottom-left-radius: 0.5em;
	-moz-border-radius-bottomleft: 0.5em;
	-moz-border-radius-bottomright: 0.5em;
}

#portal-languageselector {
	float: right;
	background: #e3e3e3;
	position: absolute;
	top: 0;
	right: 10em;
	padding: 0.25em 0.5em;
	font-size: 80%;
	border-bottom-right-radius: 0.5em;
	border-bottom-left-radius: 0.5em;
	-webkit-border-bottom-right-radius: 0.5em;
	-webkit-border-bottom-left-radius: 0.5em;
	-moz-border-radius-bottomleft: 0.5em;
	-moz-border-radius-bottomright: 0.5em;
}

#portal-searchbox {
	float: right;
	text-align: left;
	clear: right;
	margin-top: 2.5em;
	font-size: 80%;
}

#portal-searchbox label {
	font-weight: normal;
}

#searchGadget {
	width: 13em;
}

#region-content input.searchField {
	margin-bottom: 1em;
}

/* Collapsible elements in search_form */

.collapsible .collapser.collapsed {
    padding-right: 14px;
    background: url('arrowRight.png') center right no-repeat;
} 

.collapsible .collapser.expanded {
    padding-right: 14px;
    background: url('arrowDown.png') center right no-repeat;
} 

/* @group LiveSearch */

#LSResult {
	position: absolute;
	background: White;
	margin: -1.5em 0 0 -7em;
}

#LSResult fieldset {
	padding: 1em 0 0;
	border: 0.1em solid #ccc;
}

#livesearchLegend {
    margin-left: 1em;
    
    background-color:#ccc;
    padding:0.3em;
}

#LSResult .LSDescr {
	font-size: 85%;
	color: #666;
}

.LSRow {
    display: block;
    padding: 0.5em 1em;
}

.LSHighlight {
    background: #ddd;
}

/* @end */

#breadcrumbs-you-are-here,
#breadcrumbs-home,
#breadcrumbs-current,
#breadcrumbs-1 {
	display: none;
}

#portal-siteactions,
#portal-breadcrumbs {
	font-size: 80%;
}


/* @end */

/* @group Listings */

a.link-parent {
}

/* @end */

/* @group Portlets */

dl.portlet {
	margin: 0 0 1em;
	font-size: 80%;
}
dl.portletError {
    background-color: #FFA500;
}

dl.portlet dt,
div.portletAssignments div.portletHeader {
	padding: 0em 1em;
	background: #ddd;
	line-height: 2.5em;
}
div.portletAssignments {
	font-size: 0.8em;
	line-height: 2em;
}

div.portletAssignments .managedPortletActions {
	float: right;
}
div.portletAssignments .managedPortletActions a {
	margin: 0 0.25em;
}

dl.portlet dt a:link,
dl.portlet dt a:visited,
dl.portlet dt a:hover {
	color: black;
	display: block;
	border: none;
}

dl.portlet dd.portletItem,
dl.portlet dd.portletFooter,
dl.portletError dd {
	padding: 1em;
}



div.managePortletsLink,
a.managePortletsFallback {
	text-align: center;
	padding: 0.25em 0.5em;
	font-size: 80%;
	width: 8em;
	margin: 0 auto 1em;
	background: #ddd;
	border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
}

a.managePortletsFallback {
	display: block;
}


#portlet-prefs a {
	border: none;
	line-height: 2em;
}

#dashboard-portlets1,
#dashboard-portlets2,
#dashboard-portlets3,
#dashboard-portlets4 {
	display: inline-block;
}

/* @end */

/* @group Navigation portlet */

dl.portlet ul.navTree li a {
	border: none;
	display: block;
}

dl.portlet ul.navTree li a:hover {

}

dl.portletNavigationTree dd.portletItem {
	padding: 0;
}

dl.portlet ul.navTreeLevel0 > .navTreeItem {
	padding: 0.25em 1em;
	border-bottom: 0.1em dotted #ddd;
	line-height: 2em;
}

dl.portlet ul.navTreeLevel1 .navTreeItem {
	font-size: 85%;
	padding-left: 1em;
	line-height: 2em;
}

dl.portlet ul.navTree .navTreeCurrentItem {

}

/* @end */

/* @group Content Area */

#content {
	line-height: 1.5em;
	clear: both;
	font-size: 80%;
}

#content h1 {	
	margin-top: 0.5em;
}

#content h1.documentFirstHeading {	
	margin-top: 0;
}

#content h2,
#content h3,
#content h4 {
	margin-top: 0.5em;
	color: #444;	
}


#content p,
#content ul,
#content ol,
#content table,
#content dl,
dl.portlet p,
dl.portlet {
	margin-bottom: 1em;
}

#content a:link,
dl.portlet a:link {
	color: #205c90;
	border-bottom: 0.1em solid #ccc;
}

#content a:visited, 
dl.portlet a:visited {
	color: #427597;
	border-bottom: 0.1em solid #ccc;
}
#content a:target {
	background-color: #ffb;
}

#content a.link-category {
	color: black;
	padding: 0.25em 0.5em;
	background: #ddd;
	border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
}
#content a.link-category:hover {
	background: #205c90;
	color: White;
	border-color: #205c90;
}

#content img {
	max-width: 100%;
}

#content ul {
	list-style-type: disc;
	margin-left: 2em;
}

#content ol,
dl.portlet ol {
	list-style-type: decimal;
	margin-left: 2em;
}

#content li,
dl.portlet li {
	margin-bottom: 0.25em;
	line-height: 1.5em;
	display: list-item;
}

#content dt {
	font-weight: bold;
	margin-bottom: 0;
	margin-right: 0;
}
#content dd {
	margin: 0 0 1em 1em;
}

#content pre {
	background-color: #222;
	color: White;
	font-family: Consolas, Inconsolata, "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace;	
	padding: 1em;
	overflow-x: auto;
	font-size: 90%;
	margin-bottom: 1em;
	line-height: 1em;
}

#content code {
	font-family: Consolas, Inconsolata, "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace;	
}

#content div.documentByLine {
	font-size: 85%;
	display: block;
	margin-top: -0.5em;
	color: #666;
}

#content .discreet,
#sidebar .discreet {
	color: #666;
	font-size: 85%;
	font-weight: normal;
}

#content .visualHighlight {
    background-color: #ffb;
}

#content .pullquote {
    padding: 0 1em 0 1em;
    margin: 0 0 1em 1em;
    font-weight: bold;
    float: right;
    width: 35%;
    clear: right;
    border-left: 0.1em solid #888;
	color: #888;
}
#content .callout {
    color: #666;
    padding: 1em;
	border: 0.1em solid #666;
	border-style: solid none;
	clear:  both;
}


#content table {
	width: 100%;
	text-align: left;
}

#content p.documentDescription,
#content #description {
	color: #666;
	font: bold 1.25em "Helvetica Neue", Arial, FreeSans, sans-serif;
	margin-left: 0;
}

#content img.tileImage,
#content div.newsImageContainer {
	float: right;
	margin: 0 1em 0.5em 1em;
}
#content div.newsImageContainer {
}
#content div.newsImageContainer p.discreet {
	margin: 0;
	padding: 0.5em;
	background-color: #666;
	background-color: rgba(40,40,40,0.7);
	color: White;
	font-weight: bold;
	position: relative;
	top: -3em;
}
/* @end */



/* @group Data tables */

table.listing {
	border-spacing: 0; 
	font-size: 90%;
}

table.listing td, 
table.listing th {
	padding: 0.5em;
	vertical-align: top;
}

table.listing td.listingCheckbox, 
table.listing th.listingCheckbox {
	text-align: center;
}

table.listing thead th {
	text-align: left;
	color: #666;
	border: 0.1em solid #e7e7e7;
	border-style: solid none;
	padding-left: 0;
}
table.listing tbody th {
	font-weight: bold;
}
table.listingtbody tr {
	text-align:left;
}
table.listing tbody tr.odd {
	background: #eee;
}
table.listing tbody tr td { 
	background: transparent;
}
table.listing tbody tr.odd td { 
	background: #eee;
}
table.listing a { 
	border: none;
}

table.listing td.draggable {
	cursor: move;	
	/*cursor: ns-resize;*/
}


div.listingBar {
	font-size: 80%;	
	margin: 1em 0;
}

div.listingBar .next {
	display: inline-block;
	float: right;
}

div.listingBar .previous {
	display: inline-block;
}

div.listingBar a {
	display: inline-block;
	padding: 0.25em 0.5em;
	border: 0.1em solid #ccc;
}

div.listingBar a:hover {
	color: White;
	background-color: #329fd7;
	border-color: #329fd7;
}

/* @end */

/* @group Status messages */

#region-content dl.portalMessage {
    margin: 1em 0;
	font-size: 80%;
	border: 1px solid #996;
	background-color: #ffffe3; 
}

#region-content dl.portalMessage a {
    color: black;
	border-color: black;
}
#region-content dl.portalMessage dt {
    background-color: #996; 
    font-weight: bold;
    float: left;
    margin: 0 0.5em 0 0;
    padding: 0.5em 0.75em;
    color: White;
    line-height: 1.25em;
}
#region-content dl.portalMessage dd {
    padding: 0.5em 0.5em; 
    margin: 0;
    line-height: 1.25em;
}
#region-content dl.warning {
    border-color: #d80;
}
#region-content dl.warning dt {
    background-color: #d80;
}
#region-content dl.error {
    border-color: #d00;    
}
#region-content dl.error dt {
    background-color: #d00; 
}
#region-content dl.warning {
    border-color: #d80;    
}
#region-content dl.warning dd {
    background-color: #fd7; 
}
#region-content dl.error {
    border-color: red;    
}
#region-content dl.error dd {
    background-color: #fdc; 
}



/* @end */

/* @group Editing */

/* @group Tabs */

/* Color differences between the two tab types */
#content ul.formTabs {
	background-color: #ddd;
	border: 0.3em solid #ddd;
}
#edit-bar {
	background-color: #75ad0a;
	border: 0.25em solid #75ad0a;
	font-size: 80%;
	min-height: 2em;
	margin-bottom: 1em;
}
#content-views {
	float: left;
	background-color: #75ad0a;
}
#content-views a {
	color: White;
}

/* Shared CSS between the two tab types */
#edit-bar,
#content ul.formTabs {
    display: block;
	border-style: solid solid none solid; 
	margin-left: 0;
	border-top-right-radius: 0.5em;
	border-top-left-radius: 0.5em;
	-webkit-border-top-right-radius: 0.5em;
	-webkit-border-top-left-radius: 0.5em;
	-moz-border-radius-topleft: 0.5em;
	-moz-border-radius-topright: 0.5em;
}
#content li.formTab {
    display: inline;
	margin-right:0.25em;
}
#content-views a,
#content li.formTab a {
    /* this isn't supported by all browsers, so we keep it in a separate rule */
    display: inline-block;
}
#content-views a,
#content li.formTab a {
	line-height: 2em;
    padding: 0 0.75em;
    text-decoration: none;
	border: none;
	font-weight: bold;
	margin: 0 ;
}
#content-views li.selected a,
#content-views li a:hover,
#content li.formTab a.selected,
#content li.formTab a:hover {
    background: White;
    color: Black;
}
#content-views li.selected a,
#content-views li a:hover,
#content li.formTab a.selected,
#content li.formTab a:hover {
	border-top-right-radius: 0.5em;
	border-top-left-radius: 0.5em;
	-webkit-border-top-right-radius: 0.5em;
	-webkit-border-top-left-radius: 0.5em;
	-moz-border-radius-topleft: 0.5em;
	-moz-border-radius-topright: 0.5em;
}
#content li.formTab a.notify {
    background-color: red;
    color: White;
}
#content li.formTab a.required span {
    background-image: url(required.png);
    background-position: center right;
    background-repeat: no-repeat;
    padding-right: 1em;
}
#content fieldset.formPanel {
	border: none;
}
#content fieldset.formPanel.hidden {
    display: none;
}
#content div.formControls input.hidden {
    display: none;
}

/* @end */

/* @group Pulldown menus */

/* @group Personal tools pulldown */
#portal-personaltools dl {
}
#portal-personaltools dt {
	font-weight: normal;
}
#portal-personaltools dt.actionMenuHeader a:after {
	content: " ▼";
}
#portal-personaltools dd {
	right: 0;
	padding-top: 0.5em;
}
#portal-personaltools dd {
	background: #e3e3e3;
	padding-bottom: 0.5em;
}
#portal-personaltools dd a {
	line-height: 2em;
	padding: 0 0.75em;
}
#portal-personaltools dd a:hover {
	background: #205c90;
	color: White;
}

/* @end */

/* @group Content pulldowns */

#contentActionMenus dl.actionMenu a,
#contentActionMenus dl.actionMenu.activated dd {
	background-color: #75ad0a;
	color: White;
	font-weight: bold;
	z-index: 5;
}
#contentActionMenus dl.actionMenu.activated dd {
	border-bottom: 0.5em solid #75ad0a;
}
#contentActionMenus dl.actionMenu.activated dd a:hover {
	background: White;
	color: #666;
}
#contentActionMenus dl.actionMenu a {
	line-height: 2em;
}



/* @end */

#contentActionMenus {
	float: right;
	background: #75ad0a;
	margin: 0 -0.25em 0 0;
}

dl.actionMenu {
	float: right;
	white-space: nowrap;
    position: relative;
}
dl.actionMenu a {
    display: block;
    white-space: nowrap;
	padding: 0 0.25em;
}
dl.actionMenu.deactivated dt {
	margin: 0 0.25em;
}
dl.actionMenu.deactivated dd {
    display: none;
}
dl.actionMenu.activated dd {
    position: absolute;
    width: auto;
    min-width: 100%;
	border-bottom-right-radius: 0.5em;
	border-bottom-left-radius: 0.5em;
	-webkit-border-bottom-right-radius: 0.5em;
	-webkit-border-bottom-left-radius: 0.5em;
	-moz-border-radius-bottomleft: 0.5em;
	-moz-border-radius-bottomright: 0.5em;
}
dl.actionMenu.activated dt a,
dl.actionMenu.activated dd a {
	margin: 0 0.25em;
}

/* @end */

/* @group Control panel */

#content ul.configlets {
    margin: 1em 0;
    list-style-image: none;
    list-style: none;
}
#content ul.configlets li {
    margin-bottom: 1em;
    list-style: none;
}
#content ul.configlets li a {
    text-decoration: none;
    border: none;
}
#content ul.configlets li a:visited {
    color: #436976;
    background-color: transparent;
}
#content ul.configlets li a:active {
    color: #436976;
    background-color: transparent;
}
#content ul.configlets li label {
    font-weight: bold;
}
#content ul.configletDetails {
    margin: 0em 1em 1em 4em;
    list-style-image: none;
    list-style: none;
}
#content ul.configletDetails li {
    margin-bottom: 1em;
    display: inline;
}
#content ul.configletDetails li a {
	text-decoration: none;
}
#content ul.configletDetails li label {
    font-weight: bold;
}
#content ul.configletDetails li.configletDescription {
    display: block;
    color: #76797c;
    margin: 0;
}
.inlineDisplay {
display:inline
}
table.controlpanel-listing {
width:100%;
}
table.controlpanel-listing td, table.controlpanel-listing th {
font-size:120%;
}
table.controlpanel-listing dl {
margin-top:0;
}
table.controlpanel-listing dd {
margin-left: 1em;
}
table.controlpanel-listing dl dt a .trigger{
font-weight:normal;
}
table .controlpanel-listing td {
vertical-align:top;
}
table.controlpanel-listing td.checker{
text-align:center;
}
table.controlpanel-listing th.smallcolumn {
width:1.5em;
}
.chooser-right {
float:right;
margin-right:0;
margin-bottom:0;
}
.rule-element {
background-color:#EEF3F5;
margin:0.5em 0pt 0.5em;
padding:0.3em 1em 0.3em 1em;
width:auto;
}
.rule-element dl {
}
.rule-element dl dd {
margin-left:1em;
}
.rule-updown, .rule-operations {
float:right;
padding-top:0.8em;
}
/* @end */

/* @group Collapsible */
dl.collapsible {
    border: 0.1em solid #8cacbb;
    margin: 1em 0 0 0;
    padding: 0;
}
dl.collapsible dt.collapsibleHeader {
    display: block;
    float: left;
    background: White;
    line-height: 1.2em;
    vertical-align: middle;
    font-size: 90%;
    position: relative;
    top: -0.6em;
    width: auto;
    margin: 0 0 -0.6em 1em;
    padding: 0 0.5em;
}
dl.collapsible dd.collapsibleContent {
    margin: 0;
    padding: 0 1em;
    clear: left;
}

/* for IE the following isn't needed, that's why the css2 selector is used */
dl.collapsible dd.collapsibleContent > dl {
    margin: 0;
    padding: 0;
}

dl.expandedInlineCollapsible dt.collapsibleHeader,
dl.expandedBlockCollapsible dt.collapsibleHeader {
    padding: 0 0.5em 0 2em;
    background: White url(treeExpanded.png) no-repeat 0.5em 50%;
    cursor: pointer;
}

dl.collapsedBlockCollapsible {
    border: none;
    height: 1em;
    width: auto;
}
dl.collapsedBlockCollapsible dt.collapsibleHeader {
    float: none;
    position: static;
    margin: 0;
    padding: 0 0 0 2em;
    line-height: 1em;
    cursor: pointer;
}
dl.collapsedInlineCollapsible dd.collapsibleContent,
dl.collapsedBlockCollapsible dd.collapsibleContent {
    display: none;
}
dl.collapsedInlineCollapsible {
    border: none;
    height: 1em;
    width: auto;
    display: inline;
}
dl.collapsedInlineCollapsible dt.collapsibleHeader {
    position: static;
    float: none;
    margin: 0;
    padding: 0 0 0 2em;
    line-height: 1em;
    cursor: pointer;
    display: inline;
}

/* @end */

/* @group Comments */

.comment {
	border: 0.1em solid #eee;
	background-color: #f6f6f6;
    padding: 0.25em 1em 1em 1em;
    margin-bottom: 1em;
	font-size: 80%;
}
.comment h1,
.comment h2,
.comment h3,
.comment h4, 
.comment h5,
.comment h6 {
    border-bottom: 0.1em solid #76797c;
    font-weight: normal;
}

/* @end */

.reviewHistory,
.contentHistory {
    display: inline;
    color: Black;
}
.spacer {
    margin: 1em;
}

.label {
    font-weight: bold;
    display: inline;
    padding-right: 0.5em;
}
.optionsToggle {
    border: 0.1em solid #8cacbb;
    color: Black;
    background-color: #dee7ec;
    font-weight: normal;
    font-size: 90%;
} 

/* for highlighting of search terms */
.highlightedSearchTerm {
   background-color: #ffa;
}

dl.searchResults .highlightedSearchTerm {
    background-color: transparent;
    font-weight: bold;
}
/* for greying out inherited roles */
.noInheritedRoles {
    color: #a0a0a0;
}
/* for highlighting current items, like the language or today in the calendar */
.currentItem {
    border-collapse: collapse;
    border: 0.2em solid #ffa500;
    padding: 0.1em;
}


/* @end */

/* @group Forms */

/* Emulates the styling from the h1 tag */
#archetypes-fieldname-title input {
	font-family: "Helvetica Neue", Arial, FreeSans, sans-serif; 
	font-weight: bold;
	line-height: 125%;
	color: Black;
	letter-spacing: -0.05em;
	font-size: 1.625em; /* 26px equiv */
}

div.formControls {
	margin-top: 1em;
}
input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {
	background-color: #ffffe0;
}

#content textarea {
font: 100% Monaco, "Courier New", Courier, monospace;
width: 100%;
}
#content select {
vertical-align: top;
}
#content fieldset {
border: 0.1em solid #329fd7;
border-style: solid none none none;
}
#content legend {
padding: 0.5em 0.5em 0.5em 0;
font-size: 85%;
}
label {
	font-weight: bold;
}
#region-content label {
}

input[type="checkbox"] + label:hover {
	background: #ddd;
	outline: 0.1em solid #ddd;
/* TODO: This should work, but creates flicker in all browsers. Figure out why.
	position: relative;
	left: -1.5em;
	padding-left: 1.5em;
*/
}

#content optgroup {
font-style: normal;
font-weight: bold;
color: #999;
padding-left: 0.25em;
}
#content option {
color: black;
}
#content optgroup > option {
padding: 0 0.25em 0 1em;
}
dl.enableFormTabbing dd {
margin-left: 0;
padding-top: 2em;
}
.searchSection {
color: #76797c;
margin-top: 0.25em;
}
.searchSection label:hover {
color: Black;
}
.field {
clear: both;
margin-top: 1em;
}
.field input[type="text"] {
	/*width: 100%;*/
}
input#title {
	width: 100%;
}

.fieldRequired {
background: url(required.png) center left no-repeat;
padding: 0 0 0 1em;
color: White;
}
.fieldUploadFile {
text-align: right;
margin-right: 0.75em;
display: none;
}
.fieldTextFormat {
text-align: right;
margin-right: 0.75em
}
.formHelp {
	color: #555;
	margin: 0 0 0.2em 0;
}
div.error {
background-color: #fdc;
border:  1px solid red;
padding: 0.5em;
margin:  1em 0;
color: red;
}
.error .fieldRequired {
color: #d00;
}
input.inputLabelActive {
color: #76797c;
}
textarea#form\.description {
height: 6em;
width: 99%;
}
table.listing tbody tr.odd.selected td,
tr.selected {
background-color: #ffa;
}

/* @group Login form */

#login-form input {
font-size: 150%;
width: inherit;
}

body.template-join_form #content input {
font-size: 150%;
width: inherit;
}


/* @end */

/* @end */

/* @group Table of Contents */

 /*Table of Contents styling - essentially a portlet with smaller fonts and aligned right + limited in width*/ 

dl.toc {
	float: right;
    width: 35%;
	font-size: 70%;
    margin: 0 0 0.5em 1.5em;
	border-left: 0.1em solid #666;
}
dl.toc dt {
	margin-left: 3em;
	font-weight: normal;
	text-transform: uppercase;
}
dl.toc dd {
	margin-bottom: 0;
}
dl.toc dd ol {
	margin-left: 1.5em;
}

/* @end */

/* @group Footer */

#portal-footer {
	font-size: 75%;
	background: #ddd;
	padding: 1em 0; 
	text-align: center;
	margin: 1em 0;
}

#portal-colophon {
	font-size: 70%;
	text-align: center;
	margin-bottom: 1em;
}

#portal-colophon li {
    padding:0 0.75em;
}

#portal-colophon a {
	color: #444;
}

/* @end */

/* @group Sitemap */

#content #portal-sitemap,
#content #portal-sitemap li {
    list-style: none;
    margin-left: 0;
}

#content #portal-sitemap a {
    border-bottom: none;
    display: block;
}

#content #portal-sitemap {
    font-size: 130%;
    font-weight: bold;
}

/* @end */

/* @group Invisibles */

.hiddenStructure {
    display: none;
    background: transparent;
    background-image: none; /* safari bug */
    border: none;
    height: 0.1em;
    overflow: hidden;
    padding: 0;
    margin: -0.1em 0 0 -0.1em;
    width: 1px;
}

.visualClear {
	clear: both;
}

/* @end */

/* @group overlays */

/* styling for overlays (popups) */

div.overlay {
    width: auto;
    height: auto;
    /* initially overlay is hidden */
    display:none;
    /* some padding to layout nested elements nicely  */
    margin:1em;
}

div.overlay-iframe,
div.overlay-ajax {
    width: 60%;
    min-height: 100px;
}

div.overlay-iframe {
    height: 60%;
}

/* default close button positioned on upper right corner */
    div.overlaybg div.close,
    div.overlay div.close {
    background-image: url(pb_close.png);
    position: absolute;
    left: -15px;
    top: -15px;
    cursor: pointer;
    height: 30px;
    width: 30px;
}

.pb-ajax, .pb-image {
    white-space: normal;
    border:0.5em solid #205C90;

    -moz-border-radius:0.35em;
    -webkit-border-radius:0.35em;
    -moz-box-shadow:0 0 1em #888;
    -webkit-box-shadow:0 0 1em #888;
}

.pb-ajax > * {
    background-color: #fff;
    padding: 1em;
    white-space: normal;
}

.pb-ajax .documentActions {display:none}

div.overlay div.close span {
    display:block;
    height:1px;
    margin:-1px 0 0 -1px;
    overflow:hidden;
    padding:0;
    width:1px;
}

/* @end */
